.preparedNotes {
  width: inherit;
}

#home-section {
  background-image: url("../ReviNotes/books2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 90vh;

  color: white;
}

html {
  scroll-behavior: smooth;
}

.center-align {
  padding: 125px;
}
