header.masthead {
  text-align: center;
  color: blue;
  background-image: url("../ReviNotes/books.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.preparedNotes {
  width: inherit;
}
